.breadcumb-menu {
  max-width: 100%;
  padding: 0;
  list-style-type: none;
  position: relative;
  margin: 35px 0 -0.4em;
  z-index: 10;
  li {
    display: inline-block;
    padding-right: 11px;
    list-style: none;
    position: relative;
    &:after {
      content: "\f105";
      position: relative;
      margin-left: 16px;
      font-size: 14px;
      font-weight: 700;
      font-family: $icon-font;
      color: $white-color;
    }

    &:last-child {
      padding-right: 0;
      margin-right: 0;

      &:after {
        display: none;
      }
    }
  }

  li,
  a,
  span {
    white-space: normal;
    color: inherit;
    word-break: break-word;
    font-weight: 400;
    font-size: 18px;
    font-family: $title-font;
    color: $white-color;
  }
  a:hover {
    color: $theme-color;
  }
}

.breadcumb-title {
  color: $white-color;
  margin: -0.15em 0 -0.2em 0;
  line-height: 1.1;
  font-size: 38px;
  font-weight: 700;
  font-family: $title-font;
  z-index: 10;
  position: relative;
}

.breadcumb-wrapper {
  background: $title-color;
  padding: 297px 0 155px;
  overflow: hidden;
  position: relative;
  z-index: auto;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      90deg,
      rgba(23, 23, 23, 0.7) 0%,
      rgba(23, 23, 23, 0) 70%
    );
    z-index: 1;
    pointer-events: none;
  }

  .breadcumb-thumb {
    position: absolute;
    bottom: 0;
  }

  .hero-shape2-111 {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    pointer-events: none;
    top: 0;
    left: 0;
    overflow: hidden;

    // &:after {
    //     content: "";
    //     position: absolute;
    //     height: calc(100% + 160px);
    //     width: 445px;
    //     background: linear-gradient(
    //         180deg,
    //         #00A4D9 0%,
    //         rgba(0, 164, 217, 0) 100%
    //     );
    //     opacity: 0.85;
    //     transform: skew(30deg, 0deg);
    //     top: -160px;
    //     left: 326px;
    //     z-index: 3;
    // }

    &:before {
      content: "";
      position: absolute;
      background: $theme-color;
      opacity: 0.26;
      width: 385px;
      height: calc(100% + 120px);
      left: 0px;
      transform: skew(-31deg, 0deg);
      z-index: 3;
    }

    .hero-shape2-122 {

      display: block;
      position: absolute;
      width: 300px;
      height: 279px;
      background: linear-gradient(180deg, #00a4d9 0%, rgba(232, 9, 46, 0) 100%);
      opacity: 0.76;
      bottom: 40px;
      left: 300px;
      transform: skew(-31deg, 0deg);
      z-index: 3;
    }
  }

  .breadcumb-content {
    position: relative;
    z-index: 10;
  }
}
@include lg {
  .breadcumb-wrapper {
    padding: 262px 0 120px;
  }
}
@include md {
  .breadcumb-wrapper {
    text-align: center;
    padding: 242px 0 100px;
  }
}
@include xs {
  .breadcumb-title {
    font-size: 40px;
  }
  .breadcumb-menu {
    text-align: center;
    margin: 22px 0 -0.45em 0;
  }
  .breadcumb-menu li,
  .breadcumb-menu a,
  .breadcumb-menu span {
    font-size: 14px;
  }
}
