.gradient-text {
    background: linear-gradient(to bottom, #A8E0F0, #3EA5D0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* pour compatibilité Firefox */
    color: transparent;
    font-weight: 700;
    display: inline-block;
    font-size: 45px; 
  }


.sec-title-wrapper {
  position: relative;
  display: inline-block;
  
  .sec-title {
    position: relative;
    z-index: 2;
  }

  .title-bg-shape {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    opacity: 0.15;
    animation: bg-anim 10s linear infinite;
    pointer-events: none;
    width: 100%;
    height: auto;
  }
}

h3.sec-title {
    margin-top: -0.2em;
}  
.sub-title {
    display: block;
    line-height: 1.2;
    color: $theme-color;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    font-weight: 700;
    font-family: $body-font;
    margin-bottom: 18px;
    letter-spacing: 0.07em;
    &:after,
    &:before {
        content: '';
        position: relative;
        width: 40px;
        height: 2px;
        background: $theme-color;
        display: inline-block;
        margin-right: 12px;
        top: -4px;
    }
    &:after {
        margin-right: 0;
        margin-left: 12px;
        display: none;
    }
    &.text-white {
        &:after,
        &:before {
            background: $white-color;
        }
    }
    &.style2 {
        &:before {
            display: none;
        }
        &:after {
            margin-right: 0;
            margin-left: 12px;
            display: inline-block;
        }
    }
}
.box-title {
    font-size: 24px;
    line-height: 1.417;
    font-weight: 600;
    margin-top: -0.30em;
    a {
        color: inherit;
        &:hover {
            color: $theme-color;
        }
    }
}

.sec-text {
    font-size: 18px;
    font-family: $title-font;
    margin-top: 21px;
    line-height: 1.667;
    margin-bottom: 0;
}
  
.title-area {
    margin-bottom: calc(var(--section-title-space) - 13px);
    position: relative;
    z-index: 2;
    &.mb-0 {
        .sec-title {
            margin-bottom: 17px;
        }
    }
    .sub-title {
        margin-top: -0.2em;
    }
    &.text-center {
        .sub-title {
            &:after {
                display: inline-block;
            }
        }
    }
}
.white-title {
    color: #fff;
    font-weight: 700;
    position: relative;
    padding-bottom: 9px;
    margin-bottom: 19px;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background: #fff;
        height: 2px;
        width: 50px;
    }
}
.page-title {
    font-weight: 900;
    margin-top: -0.3em;
}
.page-subtitle {
    font-weight: 900;
}
@include ml {
    .sec-title {
        font-size: 38px;
        line-height: 1.2;
    }
    .sec-text {
        margin-top: 0px;
    }
}
@include lg {
    .title-area,
    .sec-title {
        --section-title-space: 60px;
        &.mb-45 {
            margin-bottom: 36px;
        }
        &.mb-50 {
            margin-bottom: 40px;
        }
    }
    .sec-btn,
    .title-line {
        --section-title-space: 55px;
    }
    .sec-text {
        font-size: 16px; 
    }
}

@include md {
    .title-area,
    .sec-title {
        --section-title-space: 50px;
        &.mb-45 {
            margin-bottom: 35px;
        }
    }
    .sec-btn,
    .title-line {
        --section-title-space: 50px;
    }
    .sub-title {
        font-size: 14px;
    }
}
@include sm {
    .sec-title {
        font-size: 34px;
    }
}
@media (max-width: 390px) {
    .sec-title {
        font-size: 30px;
    }
}
// Mobile général (smartphones)
@media (max-width: 768px) {
  .title-area {
    margin-bottom: 20px; 
    text-align: center;   
  }

  .sec-title {
    font-size: 28px;      
    line-height: 1.3;     
    margin-top: 0;       
  }

  .sub-title {
    font-size: 12px;      
    margin-bottom: 10px;  
  }

  .sec-text {
    font-size: 14px;      // texte plus petit
    line-height: 1.5;     // interligne pour lecture
    margin-top: 10px;     
  }

  .about-thumb1 {
    margin-bottom: 20px;  // espace entre image et contenu
    text-align: center;   // centrer l'image
  }

  .checklist ul li {
    font-size: 14px;      // texte des listes plus petit
  }
}
